# Show all columns

In [1]:
# Setup

import pandas as pd

## Create toy data

In [2]:
# Create toy data

from random import randint

columns = [f'col_{i}' for i in range(30)]
data = []
for i in range(5):
    data.append(tuple(randint(0, 11) for c in columns))
    
df = pd.DataFrame.from_records(data, columns=columns)

## By default Pandas truncates the number of columns it displays

In [3]:
df

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_20,col_21,col_22,col_23,col_24,col_25,col_26,col_27,col_28,col_29
0,2,9,11,9,4,0,11,9,4,11,...,8,6,4,5,8,4,11,5,4,2
1,0,11,6,9,5,2,11,1,8,2,...,7,6,10,2,2,0,2,3,2,6
2,4,9,6,6,9,10,11,9,6,0,...,11,2,4,1,11,7,6,8,3,2
3,9,6,9,6,2,1,2,7,4,1,...,10,10,1,6,8,5,3,2,6,5
4,9,1,10,2,4,3,9,7,6,5,...,11,0,1,3,8,10,2,7,4,3

## You can use the `max_columns` option to show all columns

I prefer to use the `option_context` context manager so I can change this option on a case-by-case basis. Note that inside the context manager block, I have to use `display` to show the DataFrame.

In [4]:
from IPython.display import display

with pd.option_context('display.max_columns', None):
    display(df)

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23,col_24,col_25,col_26,col_27,col_28,col_29
0,2,9,11,9,4,0,11,9,4,11,8,4,4,8,6,1,4,0,9,2,8,6,4,5,8,4,11,5,4,2
1,0,11,6,9,5,2,11,1,8,2,3,6,2,7,10,10,11,11,5,3,7,6,10,2,2,0,2,3,2,6
2,4,9,6,6,9,10,11,9,6,0,4,3,3,7,3,6,4,9,4,9,11,2,4,1,11,7,6,8,3,2
3,9,6,9,6,2,1,2,7,4,1,11,3,4,11,11,2,10,0,9,5,10,10,1,6,8,5,3,2,6,5
4,9,1,10,2,4,3,9,7,6,5,10,9,4,6,6,4,1,10,1,6,11,0,1,3,8,10,2,7,4,3